body {
  margin: 0;
  padding: 0;
  color: #fff;
  font: Circle, normal;
}

.wrapper {
   padding-top: 33px;
}

.container {
  width: 1114px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.arrow::after{
  content: "\2192";
  font-size: 25px;
  margin-left: 15px;
}

.background_head {
  background-image: url('/assets/image/bgc.png');
  width: 1920px;
  height: 800px;
}

.logo {
   padding-left: 188px;
   margin-right: 311px;
}

.head_elements {
  display: flex;
}

.main-menu {
  font-size: 16px;
  margin-top: -10px;
}

.main-menu ul {
  display: flex;
}

.main-menu li {
  margin-right: 47px;
}

.search_lang {
  margin-left: 300px;
}

hr {
  border: none;
  margin-top: 33px;
  background-color: #fff;
  height: 1px;
  width: 1920px;
}

.name {
  padding: 165px 0 0 300px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
}

.description {
  padding-top: 20px;
  font-size: 20px;
  line-height: 40px;
}

.details {
 font-size: 16px;
 padding-top: 25px;
}

.block_directions {
  margin: -122px 0 53px 0;
}

.blocks_one {
  display: flex;
}

.first_block {
  background: #2378FC;
  width: 225px;
  height: 148px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 30px 0 0 40px;
  margin:0 30px 0 975px;
}

.second_block  {
  background: #30BCC9;
  width: 225px;
  height: 148px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 30px 0 0 40px;
  margin-bottom: 30px;
}

.blocks_two {
  display: flex;
}

.third_block {
  background: #FFC41E;
  width: 225px;
  height: 148px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 30px 0 0 40px;
  margin: 0 30px 0 975px;
}

.fouth_block {
  background: #F6404F;
  width: 225px;
  height: 148px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  padding: 30px 0 0 40px;
}

.info_visit {
  background: #2378FC;
  padding: 75px 0 75px 0;
}

.info_visit_block {
  display: flex;
}


.organize {
  font-size: 30px;
  font-weight: bold;
  margin-right: 119px;
}

.organize_links li {
  padding-bottom: 15px;
  margin-left: -25px;
  font-size: 16px;
  font-weight: normal;
}

.activity {
  background: #FFC41E;
  color:  #2E373B;
  padding: 75px 0 79px 0;
}

.activity_plans {
  display: flex;
}

.future_past_activity {
  margin-right: 450px;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 55px;
}

.all_activity {
  font-weight: bold;
  font-size: 21px;
}

.all_activity span {
  text-decoration: underline;
}

.past_plans_pictures_one {
  display: flex;
}

.events_blocks {
  margin-right: 30px;
}

.expo_pictures img {
  margin-bottom: 10px;
}

.title_name {
  color: #F6404F;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
}

.past_plans_pictures_two {
  display: flex;
  margin-top: 18px;
  padding-bottom: 80px;
}

.news {
  background: #FAF3E3;
  color:  #2E373B;
}

.news_blocks {
  display: flex;
}

.news_image_one {
  padding-top: 75px;
}

.news_image_two {
  margin-top: 60px;
  padding-bottom: 85px;
}

.news_item {
  padding: 75px 0 0 125px ;
}

.news_item_list {
  display: flex;
}

.news_name {
  font-weight: bold;
  font-size: 30px;
  margin-right: 265px;
  margin-bottom: 30px;
}

.all_news {
  font-weight: bold;
  font-size: 21px;
}

.all_news span {
  text-decoration: underline;
}

.last_news_one {
  display: flex;
  margin-bottom: 30px;
}

.news_title {
  color: #F6404F;
  font-size: 16px;
  margin: 15px 0 0px 30px;
}

.news_text {
  padding-top: 25px;
  color: #2E373B;
}

.footer {
  background: #30BCC9;
  padding: 60px 0 70px 0;
}

.about_company {
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 20px;
  margin-left: 0px;
}

.about_company_text li {
  padding-bottom: 10px;
  margin-left: -40px;
  color: #E0E0E0;
}

.about_company_text span {
  color: #FFC41E;
  text-decoration: underline;
}

.footer_section {
  display: flex;
}

.footer_section_text {
  margin-right: 88px;
}




















